* {
    font-family: monospace;

    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    text-wrap: balance;
}
body {
    background-color: rgb(10, 10, 30);
}
p {
    background-color: rgb(10, 10, 30);
}
a {
    display: block;
}
#border-left {
    text-align: left;
}
#border-right {
    text-align: right;
}
#example {
    white-space: pre-line;
}
@media screen and (width <= 600px) {
    a {
        margin-top: 3%;
        margin-bottom: 3%;
        min-height: 2.5rem;
        align-content: center;
    }
}
