* {
    font-family: monospace;
    background-color: rgb(10, 10, 30);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    text-wrap: balance;
}
a {
    display: block;
}
#border-left {
    text-align: left;
}
#border-right {
    text-align: right;
}
#example {
    white-space: pre-line;
}
@media screen and (width <= 600px) {
    a {
        margin-top: 3%;
        margin-bottom: 3%;
    }
}
